body {
    background-color: rgb(172, 189, 204);
}

.main {
    text-align: center;
    margin: auto 0;
}

#mainPage_title {
    text-align: center;
}

#mainPage_cont {
    text-align: center;
    margin: 0.5em;
    padding: 140px;
    padding-top: 80px;
}

#startBt {
    text-align: center;
}
