* {
    background-color: rgb(241, 234, 224);
  }
  
  #mainPage_title {
    text-align: center;
  }
  
  #mainPage_cont {
    text-align: center;
    margin: 0.5em;
    padding: 140px;
    padding-top: 80px;
  }
  
  
  #startBt {
    text-align: center;
  }