body {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  font-weight: 300;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
