.Influencer {
  min-height: 100vh;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

.list_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.influencer_container {
  max-width: 220px;
  margin: 1rem;
}
.influencer_name {
  font-weight: 500;
}

.influencer_container img {
  width: 220px;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.influencer_container img:hover {
  transform: scale(1.05);
}
.influencer_container p {
  width: inherit;
}
/*
input[id="menuicon"] + label {
  cursor: pointer;
  transition: all 0.35s;
  z-index: 100;
}
*/
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.2);
  transition: all 0.2s;
  z-index: 100000;

  opacity: 0;
  visibility: hidden;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow-x: hidden;
}
.background #sns {
  margin-left: 1rem;
}
.X {
  position: fixed;
  top: 10px;
  right: 10px;
  pointer-events: none;
}
.background img {
  height: 420px;
  width: 300px;
  margin: 1rem;
  object-fit: cover;
  transition: all 0.4s ease;
}

.background img:hover {
  filter: brightness(121%);
  filter: blur(7%);
  transition: all 0.4s ease;
}
/*
input#menuicon:checked ~ .background {
  opacity: 1;
  visibility: visible;
}
*/

.Chart {
  text-align: center;
}

.scale {
  fill: rgba(255, 255, 255, 0.3);
}

.detail_text {
  max-width: 600px;
  margin: 1rem;
  background: none;
}

.shape:hover {
  fill-opacity: 0.3;
}

.Chart path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 4s linear forwards, filling 4s ease-in forwards;
}

.caption {
  font-size: 1rem;
  text-shadow: none;
}

@keyframes dash {
  from {
    stroke-opacity: 0.3;
  }
  to {
    stroke-dashoffset: 0;
    stroke-opacity: 1;
  }
}

@keyframes filling {
  from {
    fill-opacity: 0;
  }
  to {
    fill-opacity: 0.3;
  }
}

@media (max-width: 1000px) {
  .background img {
    margin-top: 40px;
  }
}
