.StyleStat {
  min-height: 100vh;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

.shape:hover {
  fill-opacity: 0.3;
}

.Chart path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 4s linear forwards, filling 4s ease-in forwards;
}

.caption {
  font-size: 1rem;
  text-shadow: none;
}

@keyframes dash {
  from {
    stroke-opacity: 0.3;
  }
  to {
    stroke-dashoffset: 0;
    stroke-opacity: 1;
  }
}

@keyframes filling {
  from {
    fill-opacity: 0;
  }
  to {
    fill-opacity: 0.3;
  }
}
