h1 {
  text-align: center;
  margin-block-start: 0;
  padding-top: 10px;
}

.view_container {
  display: flex;
  flex-direction: row;
  margin: 2rem;
}

.view_text {
  width: 400px;
}

/*----*/

.StyleView {
  min-height: 100vh;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  text-align: center;
}

.view_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 1rem;
  align-items: center;
  align-content: center;
}

.view_text {
  width: 600px;
  margin: 1rem;
}

.photo {
  height: 600px;
  margin: 2rem;
  object-fit: cover;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/*----*/
img {
  width: 400px;
  height: 300px;
  margin: 2rem;
}

.App {
  text-align: center;
}

.flexBox {
  padding-top: 25px;
  margin-top: 0px;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.entertainBox {
  margin-top: 100px;
  padding-top: 0px;
  padding-bottom: 100px;
  padding-right: 0px;
  padding-left: 0px;
  background-color: rgb(164, 204, 204);
}

#entertainTitle {
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 20px;
}

#bookImage {
  width: auto;
  height: auto;
  object-fit: cover;
}

#musicImage {
  width: 190px;
  height: 50%;
  object-fit: contain;
}

#movieImage {
  width: auto;
  height: auto;
}

#flexItem01 {
  align-items: center;

  width: 289px;
  padding-bottom: 10%;
}

#flexItem02 {
  align-items: center;

  width: 297px;
  padding-bottom: 10%;
}

#flexItem03 {
  align-items: center;

  width: 289px;
  padding-bottom: 10%;
}

#flexItem02text {
  width: 62%;
  height: 200px;
  margin: 0 auto;
  padding: 0 0;
  text-align: initial;
}

#flexItem01text {
  width: 62%;
  margin: 0 auto;
  padding: 0 0;
  text-align: initial;
}

#flexItem03text {
  width: 62%;
  margin: 0 auto;
  padding: 0 0;
  text-align: initial;
}

#flexItemtitle {
  text-align: center;
}

.transSec {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: wipe 3.1s forwards;
}
@keyframes wipe {
  0% {
    background-color: rgb(204, 166, 109);
  }
  80% {
    /*
    bottom: 1500px;
    */
  }
  96% {
    bottom: 1500px;
  }
  99% {
    z-index: 1;
  }
  100% {
    /*
    background-color: rgba(238, 237, 235, 0);
    opacity: 0;
    visibility: hidden;
    
    */
    bottom: 5000px;
    z-index: -1;
  }
}
