h1 {
  text-align: center;
  margin-block-start: 0;
  padding-top: 10px;
  color: black;
  font-size: 1.5rem;
}

.flexBox {
  padding-top: 25px;
  margin-top: 0px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.entertainBox {
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  background-color: rgb(228, 230, 224);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#entertainTitle {
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 20px;
}

#bookImage {
  width: auto;
  height: auto;
  object-fit: cover;
}

#musicImage {
  width: 190px;
  object-fit: contain;
}

#movieImage {
  width: auto;
  height: auto;
}

.flexItem {
  align-items: center;
  width: 289px;
  padding-bottom: 30px;
}

.flexItem img {
  padding: 30px;
  background: white;
}

.flexItemText {
  margin: 0 auto;
  padding: 0 0;
  text-align: initial;
}
.flexItemText p {
  width: 80%;
  margin: 0 auto;
  font-size: 0.7rem;
}

#flexItemtitle {
  text-align: center;
  font-weight: 400;
  padding: 10px 0;
}
