.playLogin {
  min-height: 100vh;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lastTitle {
  text-align: center;
}

.lastCont {
  text-align: center;
  width: auto;
  margin-bottom: 10%;
  padding: 0 10px;
}
.more_container {
  background: white;
  width: 700px;
  padding: 20px;
  text-align: center;
}

#nextBox {
  text-align: center;
  margin: 1rem;
}
#nextBox > a {
  background-color: rgb(100, 100, 100);
  padding: 10px 70px;
  border-radius: 1px;
  color: white;
  text-decoration: none;
  transition: all 0.3s;
}
#nextBox > a:hover {
  background-color: rgb(75, 75, 75);
  border: 0px;
}

.nextButton {
  width: auto;
}

#logTemp {
  text-align: center;
  margin: 2.5rem;
}

#logTemp > a {
  background-color: rgb(100, 100, 100);
  padding: 10px 70px;
  border-radius: 1px;
  color: white;
  text-decoration: none;
  transition: all 0.3s;
}
#logTemp > a:hover {
  background-color: rgb(75, 75, 75);
  border: 0px;
}

@media (max-width: 700px) {
  .more_container {
    width: 100vw;
  }
}
